body 
{
    font-family: 'Open Sans', sans-serif;
    background-color: #ede7f6;
    margin:0;
    font-size: 14px;
}

header
{
    padding: 15px;
}

.headerin 
{
  font-size: 1.5rem;
  float: left;
  color: #ffffff;
  text-decoration: none;
}

.heraderout 
{
  display: flex;
  align-items: center;
  padding-left: 10px !important;
}

.nav-bar
{
    background-color: #1a237e !important;
}

.nav-bar a
{
    color: #ffffff;
}

.text 
{
    color: #1a237e;
}

.textSize
 {
    font-weight: 380;
    font-size: 2rem;
    line-height: 0.1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

a:hover 
{
    text-decoration: none;
}

.main
{
    width: 38%;
}

.background
 {

    border-radius: 5px;
    background-color: #ffffff;
    padding: 35px;
    box-shadow: 1px 1px #888888 ;
}

.floatLft 
{
    float: left;
}

input
{
    border: none;
    border-bottom: 1px solid #9e9e9e;
    width: 100%;
}

.button 
{
    width: 50%;
    font-weight: 500;
    height: 40px;
}

@media only screen and (max-width: 768px){

    .main
    {
        width: 100%;
    }
    
}